body {
    margin: auto;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.cella {
    text-align: center;
    font-size: 18pt;
    padding: 5px;
    width: 300px;
}

.cella:hover {
    animation-name: cellanimation;
    animation-duration: 0.7s;
}

.fejlec {
    border: 2px black solid;
    padding: 2px;
}

@keyframes cellanimation {
    0% {border: 2px solid white;}
    100% {border: 2px solid black;}
}